// HEADER
$header--mobile: 1.8rem;
$header--tablet: 2.5rem;
$header--desktop: 3.5rem;

// MAIN
$sub-header--mobile: 1.6rem;
$sub-header--tablet: 2rem;
$sub-header--desktop: 2.8rem;

// SCREEN SIZE
$tablet: 36em;
$desktop: 56em;
